/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea
/testing.php
/web/uploads/
app/Resources/views/default/
src/AppBundle/Entity/Comment.php~
src/AppBundle/Entity/Image.php~
src/AppBundle/Entity/Observation.php~
src/AppBundle/Entity/Species.php~
src/AppBundle/Entity/User.php~
src/AppBundle/Entity/UserProfile.php~
web/uploads/
/myData/
myData/
