{% extends "::base.html.twig" %}
{% block title %}
    O Projekcie
{% endblock %}
{% block container %}
    {#<div class="jumbotron">#}
        {#<h3></h3>#}
        {#<p>Projekt ten jest pracą zaliczeniową na zakończenie bootcampu CodersLab.</p>#}
        {#<p>W jego tworzeniu korzystałem od strony front-endowej z Bootstrapa, bibliotek#}
        {#JQuery oraz Leaflet. Natomiast część Backendowa została napisana w Symfony 3.</p>#}
        {#<p>W początkowym założeniu Bird Watchers miał być bazą danych obserwacji rzadkich#}
        {#gatunków ptaków Polski zebraną z kilku istniejących baz obserwacji ptaków.#}
        {#Jednak w trakcie prac zwiększyłem funkcjonalność umożliwiając rejestrowanie się#}
        {#i dodawanie użytkownikom własnych obserwacji.</p>#}
    {#</div>#}
    {{ dump() }}
{% endblock %}