{% extends "::base.html.twig" %}
{% block title %}
    O Projekcie
{% endblock %}
{% block container %}
    <div class="jumbotron">
        <h3></h3>
        <p>Projekt ten jest pracą zaliczeniową na zakończenie bootcampu CodersLab.</p>
        <p>W jego tworzeniu korzystałem od strony front-endowej z Bootstrapa, bibliotek
        JQuery oraz Leaflet. Natomiast część Backendowa została napisana w Symfony 3.</p>
        <p>Założeniem projektu było stworzenie serwisu w którym użytkownicy mogą dodawać
        obserwacje ptaków. W odróżnieniu od innych stron tego typu, które istnieją dodałem wiele
        funkcjonalności związanych z wyświetlaniem na mapie informacji zczytywanych z bazy
        danych. Czeka mnie jeszcze dużo pracy by projekt przyjął taką postać jaką sobie życzę
        ale praca nad nim to czysta przyjemność.</p>
    </div>
{% endblock %}