{% extends "::base.html.twig" %}
{% block title %}
    Obserwacje
{% endblock %}
{% block javascript %}
    <script src="{{ asset('js/allObservations.js') }}"></script>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-lg-8" id="mapId" style="height: 70vh;">

        </div>
    </div>
{% endblock %}