{% extends "::base.html.twig" %}
{% block title %}
    Obserwacja {{ id }}
{% endblock %}
{% block javascript %}
    <script src="{{ asset('js/observation.js') }}"></script>
{% endblock %}
{% block container %}
    <div class="row">
        <div id="imagesId" class="col-lg-7" style="height: 50vh;">

        </div>
        <div class="col-lg-1" style="height: 50vh;"></div>
        <div class="col-lg-4" id="mapId" style="height: 50vh;">

        </div>
    </div>
    <div class="row">
        <div id="observationId" class="col-lg-6">
            <p>
                Użytkownik: <span id="observationUsername"></span>
            </p>
            <p>
                Data dodania obserwacji: <span id="observationCreateDate"></span>
            </p>
            <p>
                Data obserwacji: <span id="observationDate"></span>
            </p>
            <p>
                Gatunek: <span id="observationSpecies"></span>
            </p>
            <p>
                Miejsce obserwacji <span id="observationLocation"></span>, woj. <span id="observationState"></span>
            </p>
            <p>
                Opis: <span id="observationDescription"></span>
            </p>
        </div>
        <div id="commentsId" class="col-lg-6"></div>
    </div>
{% endblock %}