{% extends "::base.html.twig" %}
{% block title %}
    Obserwacja {{ id }}
{% endblock %}
{% block javascript %}
    <script src="{{ asset('js/observation.js') }}"></script>
{% endblock %}
{% block container %}
    <div class="row">
        <div id="imagesId" class="col-lg-7" style="height: 50vh;">

        </div>
        <div class="col-lg-1" style="height: 50vh;"></div>
        <div class="col-lg-4" id="mapId" style="height: 50vh;">

        </div>
    </div>
    <div class="row">
        <div id="observationId" class="col-lg-6">
            <div>
                <h4>
                    Informacje o obserwacji:
                </h4>
            </div>
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <td>Użytkownik</td>
                        <td><span id="observationUsername"></span></td>
                    </tr>
                    <tr>
                        <td>Data dodania obserwacji</td>
                        <td><span id="observationCreateDate"></span></td>
                    </tr>
                    <tr>
                        <td>Data obserwacji</td>
                        <td><span id="observationDate"></span></td>
                    </tr>
                    <tr>
                        <td>Gatunek</td>
                        <td><span id="observationSpecies"></span></td>
                    </tr>
                    <tr>
                        <td>Miejsce obserwacji</td>
                        <td><span id="observationLocation"></span>, woj. <span id="observationState"></span></td>
                    </tr>
                    <tr>
                        <td>Opis</td>
                        <td><span id="observationDescription"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="commentsId" class="col-lg-6"></div>
    </div>
{% endblock %}